.typewriter-effect {
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
    font-weight: bold;
}
.typewriter-effect > .text {
    max-width: 0;
    animation: typing 6s steps(var(--characters)) infinite; /*define o tempo da animação*/
    white-space: nowrap;
    overflow: hidden;
}
.typewriter-effect:after {
    content: " |";
    animation: blink 1s infinite;
    animation-timing-function: step-end;
}
/*animações 'typing' e 'blink'*/
@keyframes typing {
    75%,
    100% {
        max-width: calc(var(--characters) * 1ch);
    }
}
@keyframes blink {
    0%,
    75%,
    100% {
    opacity: 1;
}
25% {
    opacity: 0;
}
}