*{
    margin: 0px;
    padding: 0px;    
}
:root{
    --ColorPikachu : #FFD53C;
}
body{
    font-family: monospace;
}
header, footer{
    width: 40%;
    margin: auto;
    box-shadow: 3px 3px 3px 0px;
    border: #000 solid 3px;
    text-align: center;
    font-weight: normal;
    background-color: var(--ColorPikachu);
}
footer{
    width: 25%;
    font-size: 0.600rem;
}
header, .typewriter-effect{
    margin-top: 20px;
    margin-bottom: 20px;
}
button a{
    color: #000;
}
button{
    text-decoration: none;
    border: #000 solid 2px;
    border-radius: 4px;
    box-shadow: #8080808c 1px 1px 5px 0px;
    background-color: var(--ColorPikachu);
    box-shadow: 3px 3px 3px 0px;
    font-weight: bold;
    cursor: pointer;
}
button:focus {
    animation: swing 1s ease;
    animation-iteration-count: 1;
}
