*{
    margin: 0;
    padding: 0;    
}
:root{
    --ColorPikachu : #FFD53C;
}
body{
    width: 100%;
    font-family: monospace;
    background: linear-gradient(90deg, #ffd53c,#e7b602);
}
header, footer{
    width: 40%;
    margin: auto;
    box-shadow: 3px 3px 3px 0px;
    border: #000 solid 3px;
    text-align: center;
    font-weight: normal;
    background-color: var(--ColorPikachu);
}
footer{
    width: 25%;
    font-size: 0.600rem;
}
header, .typewriter-effect{
    margin-top: 20px;
    margin-bottom: 20px;
}

