main {
  display: flex;
}

.grupoCard {
  width: 85%;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas:
    'card-first '
    'card-second'
}

.collectionColumn {
  width: 17%;
  margin-left: 25px;
  margin-right: 5px;
  display: inline-block;
}
.collectionColumn-1{
  grid-area:card-first ;

}
.collectionColumn-2{
  grid-area:card-second ;

}
.collectionColumn-1,
.collectionColumn-2 {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.card {
  width: 200px;
  height: 220px;
  padding: 0;
  margin: 20px;
  box-shadow: 0 2px 4px 0 #0000002c;
  border-radius: 8px;
  box-sizing: border-box;
  overflow: hidden;
  background-color: #fff;
}

.card * {
  transition: 0.3s ease all;
}

.card img {
  margin: 10px auto;
  width: 150px;
  height: 150px;
  object-fit: cover;
  display: block;
}

.card a {
  padding: 5px;
  margin: 10px;
}

.card h3 {
  margin: 0;
  padding: 12px 12px 12px;
  line-height: 32px;
  font-weight: 700;
  font-size: 20px;
}

.card h4 {
  margin: 0;
  padding: 8px 12px 0px;
  font-weight: 600;
  font-size: 16px;
}

.card .focus-content {
  display: block;
  padding: 8px 12px;
}

.card p {
  margin: 0;
  line-height: 1;
}

.card:hover img,
.card:focus-within img {
  margin-top: -80px;
}

.card:hover h3,
.card:focus-within h3 {
  padding: 8px 8px 0;
}

.efeito-flutuante {
  float: right;
  position: fixed;
  margin-top: 200px;
}

.efeito-flutuante img {
  width: 150px;
  animation: float 3s ease-in-out infinite;
}

nav ol,
nav li,
button a {
  list-style: none;
  text-decoration: none;
}

nav li {
  margin-bottom: 10px;
}

#btMenu {
  margin: auto;
  padding: 16px;
  width: 130px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

#btMenu:hover {
  width: 140px;
  right: 100%;
}

@keyframes swing {

  /*animação*/
  15% {
    transform: translateX(5px);
  }

  30% {
    transform: translateX(-5px);
  }

  50% {
    transform: translateX(3px);
  }

  65% {
    transform: translateX(-3px);
  }

  80% {
    transform: translateX(2px);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes float {

  0%,
  100% {
    transform: translatey(0)
  }

  50% {
    transform: translatey(-20px)
  }
}